In [30]:
import pandas as pd
from pandas import Series, DataFrame

obj = Series([4,7,-5, 3])

In [25]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [28]:
obj.values

array([ 4,  7, -5,  3])

In [29]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
obj2 = Series([4,7,-5, 3], index=['d', 'b', 'a', 'c'])

0    4
1    7
2   -5
3    3
dtype: int64

In [31]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [32]:
obj2[['d', 'b', 'a',]]

d    4
b    7
a   -5
dtype: int64

In [20]:
obj2[obj2> 0]

d    4
b    7
c    3
dtype: int64

In [21]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [34]:
import numpy as np
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [35]:
'b' in obj2

True

In [36]:
'e' in obj2

False

In [46]:
sdata = {'ohio': 35000, 'Texas': 71000, 'oregon':16000, 'Utah': 5000}
obj3 = Series(sdata)

In [45]:
obj3

ohaio     35000
Texas     71000
oregon    16000
Utah       5000
dtype: int64

In [47]:
states = ['California','ohio', 'oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
ohio          35000.0
oregon        16000.0
Texas         71000.0
dtype: float64

In [48]:
pd.isnull(obj4)

California     True
ohio          False
oregon        False
Texas         False
dtype: bool

In [50]:
pd.notnull(obj4)

California    False
ohio           True
oregon         True
Texas          True
dtype: bool

In [51]:
obj4.isnull()

California     True
ohio          False
oregon        False
Texas         False
dtype: bool

In [53]:
obj3

ohio      35000
Texas     71000
oregon    16000
Utah       5000
dtype: int64

In [54]:
obj4

California        NaN
ohio          35000.0
oregon        16000.0
Texas         71000.0
dtype: float64

In [55]:
obj3 + obj4

California         NaN
Texas         142000.0
Utah               NaN
ohio           70000.0
oregon         32000.0
dtype: float64

In [57]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
ohio          35000.0
oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [60]:
obj.index = ['bob', 'steve', 'jeff', 'ryan']
obj

bob      4
steve    7
jeff    -5
ryan     3
dtype: int64

In [63]:
data = {'state':['ohio','ohio','ohio', 'nevada', 'Nevada'], 
       'year':[2000, 2001, 2002, 2001, 2002],
       'pop':[1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
frame

    state  year  pop
0    ohio  2000  1.5
1    ohio  2001  1.7
2    ohio  2002  3.6
3  nevada  2001  2.4
4  Nevada  2002  2.9

In [64]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                  index=['one', 'two', 'three', 'four', 'five'])
frame2

       year   state  pop debt
one    2000    ohio  1.5  NaN
two    2001    ohio  1.7  NaN
three  2002    ohio  3.6  NaN
four   2001  nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

In [65]:
frame2.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [66]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

frame2['debt'] = 16.5

In [68]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0,2,4])
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object